

@if (ViewBag.ReferUrl == "" || ViewBag.ReferUrl == null)
{
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" } );
}
else
{
    <a href="@ViewBag.ReferUrl" class="btn btn-default">Back To List</a>
}
