@{
    ViewBag.Title = "Home Page";
}

<br>
<div class="jumbotron">
    <h1>TALL TALES</h1>
    <p class="lead">Welcome to the Tall tales Database Manager 2021</p>
    
</div>


<div class="row">
    <div class="col-md-12">
        <h2>What you can do</h2>
        <p>
            &nbsp Here you can access all the data stored in the PUBS database .The data is divided into tables witch can
            be accessed on the index bar on top.
          Once you have selected a data table you can VIEW , UPDATE , ADD or DELETE data in that table.

        </p>
    </div>
   
</div>